<h1>文章列表</h1>
<table>
  <tr>
    <th>标题</th>
    <th>作者</th>
    <th>文章创建时间</th>
    <th>文章修改时间</th>
    <th>操作</th>
  </tr>
  <% @articles.each do |article|%>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.author %></td>
      <td><%= article.created_at %></td>
      <td><%= article.updated_at %></td>
      <td>
        <%= link_to "修改", edit_article_path(:id=>article.id)%>
        <%= link_to "删除", article_path(:id=>article.id), :method=>"delete", :data=>{:confirm=>"确定要删除这篇文章吗?"}%>
      </td>
    </tr>
  <%end%>
</table>
<%= link_to "新增文章", new_article_path%>
